@tailwind components;
@tailwind base;
@tailwind utilities;
@layer base {
  ul,
  ol {
    list-style: revert;
    list-style-position: inside;
  }
  ol ul,
  ol ol,
  ul ul,
  ul ol {
    padding-left: 1rem;
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem;
}

.prose * {
  color: #fff;
}

.prose code,
.prose li::marker {
  color: #615af1;
}

.prose pre code {
  font-size: 1.4rem;
  color: #fff;
}

.prose h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}
