@tailwind components;
@tailwind base;
@tailwind utilities;
@layer base {
  ul,
  ol {
    list-style: revert;
    padding-left: 20px;
  }
  ol ul,
  ol ol,
  ul ul,
  ul ol {
    padding-left: 25px;
  }
  li ~ li {
    margin-top: 0.2rem;
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-size: 1.6rem;
}

.prose * {
  color: #fff;
}

.prose code span.constant,
.prose code span.comment,
.prose code span.number {
  color: #fff !important;
}

.prose p code,
.prose li code {
  display: inline-block;
  background-color: #615af1;
  padding: 0 0.4rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
}

.prose a,
.prose li::marker {
  color: #615af1;
}
